@{
    ViewBag.Title = "About";
}

<br />

<div class="card border-secondary text-center">
    <div class="card-header"><h3>Achilles Heel Running Store - Glasgow</h3></div>
    <div class="card-body text-center">
        <h5 class="card-title">
            At Achilles Heel, we’re all about the run. If your aim is 5K or 26.2 miles, on road or on trail, we’re here to prepare, empower and equip you from your first training run through to race-day. Our curated and tested range of running kit covering road, trail, track & field, clothing and accessories will get you set, with zero compromise on performance or style.
        </h5>
        <p class="card-text">
            Store Opening Hours: Mon - Sat, 9.30am - 5.30pm / Sun, 12.00pm - 5pm
        </p>
    </div>
</div>

<br />

<div class="col-lg-6">
    <img src="~/Images/Other/AboutPage1.png" height="375" width="550" alt="..." />
</div>
<div class="col-lg-6">
    <img src="~/Images/Other/AboutPage2.png" height="375" width="550" alt="..." />
</div>

<br />


<div class="card border-secondary text-center">
    <br />
    <div class="card-header"><h3>Running Shoe Fitting & Gait Analysis</h3></div>
    <div class="card-body text-center">
        <h5 class="card-title">
            With 20 years experience in footwear fitting you can rely on us and our knowledge base on finding the right pair of runners for you. For a full run down and the process of gait analysis check out our article covering this.
        </h5>
        <p class="card-text">
            Our in-store team are here to provide a tailored and personalised experience, equipped with a large knowledge base across all product categories.
        </p>
    </div>
</div>

<br />

<div class="col-lg-6">
    <img src="~/Images/Other/AboutPage3.png" height="375" width="550" alt="..." />
</div>
<div class="col-lg-6">
    <img src="~/Images/Other/AboutPage4.png" height="375" width="550" alt="..." />
</div>


