
@{
    ViewBag.Title = "Cancelled";
}

<h2>Cancelled</h2>

Oops! Something went wrong with your payment.
<br />
Your order has been cancelled
@Html.ActionLink("Back to Basket", "BasketIndex", "ShoppingBasket")

